$background--dark-blue: #0f2e49;
$background--light-blue: #1e5787;
$background--yellow: #EBECE8;
$button-background-color: #72B43F;
$article--header-color: #1E3C4D;

// ********************************************HELPERS*******************************************

// FOR iPHONE WORD BREAK
p, h1, h2, h3, h4, h5, h6, ul, li, a {
	word-break:keep-all !important;

	-moz-hyphens:none;
	-ms-hyphens:none;
	-webkit-hyphens: none;
	hyphens:none;
}

// LINK HOVER TRANSITIONS
a {
	transition: background-color 0.4s, transform 0.4s;
	&:hover {
		background: darken($button-background-color, 10%);
	}
}

// BUTTON EXPAND IN OUTLOOK AND HOVER EFFECT
.button {
	&.expand, &.expanded {
	    td:not(.expander) {
	      width: 100%;
	    }
	}
  	transition: background-color 3s, transform 3s;
	&:hover {
		background-color: darken($button-background-color, 10%);
	}
}

// OUTLOOK SMALL IMAGE FIX 
.small-image-fix tr, .small-image-fix td {
	font-size: 0;
	line-height: 0;
	mso-line-height-alt: 0;
	mso-margin-top-alt: 1px;
}

.background--dark-blue {
	background-color: $background--dark-blue;
}

.background--light-blue {
	background-color: $background--light-blue;
}

.background--yellow {
	background-color: $background--yellow;
}

.border-bottom--blue {
	border-bottom: 8px solid #0f2e49;
}

.text--white {
	color: #ffffff;
}

.no-padding {
	padding: 0 !important;
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-margin-right {
	margin-right: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}



// **********************************************************************************************



// ********************************************CONTENT*******************************************


// ARTICLE SECTION
.hero--wrapper {
	@extend .background--dark-blue;
	padding-top: 30px;
}

.hero__title {
	@extend .text--white;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 20px;
}

.hero__text {
	@extend .text--white;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	margin: 20px auto 30px;
	Margin: 20px auto 30px;
}

.article__text--margin {
	margin-bottom: 30px;
	Margin-bottom: 30px;
}

.article--wrapper--left {
	width: 50%;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	margin: 0 auto !important;
}

.article--left__image {
	margin: 0 auto !important;
}

.article--wrapper--right {
	background: $background--yellow;
	padding-top: 20px;
	padding-top: 20px !important;
	padding-bottom: 0 !important;
}

.article__title--wrapper {
		padding-left: 0 !important;
		padding-bottom: 0 !important;
}

.article__title {
	color: $article--header-color;
	font-size: 20px;
	font-weight: bold;
}

.article__icon--wrapper {
	vertical-align: middle;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.article__icon {
	margin: 0 auto;
}

.article__text {
	padding-left: 20px !important;
	padding-left: 20px;
	padding-right: 20px !important;;
	padding-right: 20px;
	margin-bottom: 15px;
	Margin-bottom: 15px;
}

.article__button {
	border: 0 !important;
	width: 90% !important;
	a {
		text-align: center;
		font-family: Helvetica, Arial, sans-serif !important;
	}
	@media only screen and (max-width: #{$global-breakpoint}) {
    	margin-bottom: 40px !important;
  	}
}

.section-bottom--wrapper {
	@extend .background--light-blue;
	padding-top: 30px;
}

.section-bottom__title {
	@extend .hero__title;
}

.section-bottom__text {
	@extend .hero__text;
	margin-bottom: 30px !important;
	margin-bottom: 30px;
}

.section-bottom__button {
	border: 0 !important;
	a {
		text-align: center;
		font-family: Helvetica, Arial, sans-serif !important;
	}
	width: 95% !important;
}




// FOOTER
.footer--container {
	@extend .background--dark-blue;
}

.footer--wrapper {
	@extend .background--dark-blue;
	padding-top: 20px;
	padding-bottom: 0 !important;
}

.footer__text {
	text-align: center;
	@extend .text--white;
}

.footer__social-icons {
	max-width: 35px;
}
