---
subject: MTC
---
<container>
  <wrapper>
    <center>
      <img width="580" height="312" src="http://emails.reingolddev.com/emails/mtc/april_2016_2/hero0510.jpg" alt="The Nation's Report Card: 2015 Mathematics and Reading at Grade 12 on April 27, 2016 at 12 pm ET"/>
    </center>
  </wrapper>
</container>
<container>
  <row>
    <columns small="12" large="12" class="hero--wrapper">
      <h4 class="hero__title">Help is available and treatment works.</h4>
      <p class="hero__text">Mental Health Awareness Month elevates your mission to serve Veterans and to remind them that every step forward is another step closer to recovery.</p>
    </columns>
  </row>
  <row class="collapse border-bottom--blue">
    <columns small="12" large="6" class="article--wrapper--left float-center">
      <a href="http://www.maketheconnection.net/step4ward" target="_blank"><img width="290" height="267" class="article--left__image" src="http://emails.reingolddev.com/emails/mtc/april_2016_2/panel1.2.jpg" alt="Headshot of a Female Veteran"/></a>
    </columns>
    <columns small="12" large="6" class="article--wrapper--right">
      <row>
        <columns small="3" large="3" class="article__icon--wrapper" valign="middle">
          <img src="http://emails.reingolddev.com/emails/mtc/FFE2_template/icong.png" width="45" height="45" class="article__icon"/>
        </columns>
        <columns small="9" large="9" class="article__title--wrapper">
          <h4 class="article__title">Show Veterans your support in May and beyond.</h4>
        </columns>
      </row>
      <p class="article__text">Encourage the Veterans you know to <strong><em>step forward</em></strong> and connect with stories of hope and recovery by sharing our Facebook post and challenging three Veteran supporters to follow your lead.</p>
      <center>
        <button class="article__button expanded radius" href="http://www.maketheconnection.net/step4ward">Click here to learn more</button>
      </center>
    </columns>
  </row>
  <row class="collapse border-bottom--blue">
    <columns small="12" large="6" class="article--wrapper--left">
      <a href="http://www.maketheconnection.net" target="_blank"><img width="290" height="267" class="article--left__image" src="http://emails.reingolddev.com/emails/mtc/april_2016_2/panel1.5.jpg" alt="Image of Make The Connection Website"/></a>
    </columns>
    <columns small="12" large="6" class="article--wrapper--right">
      <row>
        <columns small="3" large="3" class="article__icon--wrapper" valign="middle">
          <img src="http://emails.reingolddev.com/emails/mtc/FFE2_template/stressg.png" width="45" height="45" class="article__icon"/>
        </columns>
        <columns small="9" large="9" class="article__title--wrapper">
          <h4 class="article__title">Check out the updated website.</h4>
        </columns>
      </row>
      <p class="article__text"><strong><em>MakeTheConnection.net</em></strong> has a new look! Visit the site to explore innovative features that connect to information tailored for you.</p>
      <center>
        <button class="article__button expanded radius" href="http://www.maketheconnection.net">Explore our new website design</button>
      </center>
    </columns>
  </row>
  <row class="collapse">
    <columns small="12" large="6" class="article--wrapper--left">
        <a href="http://maketheconnection.net/stories/654" target="_blank"><img width="290" height="267" class="article--left__image" src="http://emails.reingolddev.com/emails/mtc/april_2016_2/panel3.jpg" alt="Image of latest video"/></a>
    </columns>
    <columns small="12" large="6" class="article--wrapper--right" valign="middle">
      <row>
        <columns small="3" large="3" class="article__icon--wrapper">
          <img src="http://emails.reingolddev.com/emails/mtc/FFE2_template/video.png" width="45" height="45" class="article__icon"/>
        </columns>
        <columns small="9" large="9" class="article__title--wrapper">
          <h4 class="article__title">Watch our latest video.</h4>
        </columns>
      </row>
      <p class="article__text"><strong><em>Make the Connection</em></strong>’s new PSA, “When We Were Young,” encourages Veterans to reach out if they need support. Share it today and help a Veteran <strong><em>step forward</em></strong> to a healthier life.</p>
      <center>
        <button class="article__button expanded radius" href="http://maketheconnection.net/stories/654">Watch the video</button>
      </center>
    </columns>
  </row>
  <row>
    <columns small="12" large="12" class="section-bottom--wrapper">
      <h4 class="section-bottom__title">Want more information on <strong><em>Make the Connection?</h4>
      <p class="section-bottom__text">Visit our “What Is <strong><em>Make the Connection</em></strong>?” page and learn how you can use this powerful resource.</p>
      <center>
        <button class="section-bottom__button expanded radius" href="http://www.maketheconnection.net/what-is-mtc">Discover <strong><em>Make the Connection</em></strong></button>
      </center>
      <spacer size="20"></spacer>
    </columns>
  </row>
  <wrapper class="small-image-fix">
    <center>
      <img width="580" height="15" src="http://emails.reingolddev.com/emails/mtc/april_2016_2/bottom-barg.png"/>
    </center>
  </wrapper>
   <row class="footer--container">
    <columns small="12" large="12" class="footer--wrapper">
      <row>
        <columns small="12" large="12">
          <p class="footer__text"><strong><em>Make the Connection</em></strong> | 810 Vermont Ave. NW | Washington, DC 20420</p>
        </columns>
      </row>
      <row class="collapse">
        <columns small="12" large="12">
          <center>
            <menu>
              <item href="http://www.facebook.com/VeteransMTC"><img width="35" height="35" class="footer__social-icons" src="http://emails.reingolddev.com/emails/mtc/april_2016_2/facebookg.png"/></item>
              <item href="http://www.youtube.com/user/VeteransMTC"><img width="35" height="35" class="footer__social-icons" src="http://emails.reingolddev.com/emails/mtc/april_2016_2/youtubeg.png"/></item>
              <item href="http://plus.google.com/+VeteransMTC/"><img width="35" height="35" class="footer__social-icons" src="http://emails.reingolddev.com/emails/mtc/april_2016_2/gplusg.png"/></item>
            </menu>
          </center>
        </columns>
      </row>
    </columns>
  </row>
</container>
